section {
    flex: 1;
    min-width: 500px;
}
       
form {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

label {
    font-weight: 700;
    font-size: 1.1rem;
}

.url,
.heading,
.description {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 0.325rem;
    width: 100%;
}

button {
    padding: 0.7rem 1.3rem;
    background-color: var(--light-grayish-blue);
    border-radius: 0.5rem;
    border: 1px solid var(--grayish-blue);
    font-size: 1.1rem;
}

button:hover, button:focus {
    cursor: pointer;
    background-color: var(--medium-grayish-blue);
}

textarea {
    padding: 0 0.25rem;
}